*.class

# Package Files #
*.jar
*.war
*.ear

# gradle
.gradle
build
gradle-app.setting


# eclipse
.settings
.metadata
.classpath
.project
bin
eclipse

# intellij
out
*.idea
*.iml
*.ipr
*.iws
*.log
*.log.lck

# xcode
*.xcodeproj

#minecraft
config
crash-reports
saves
stats
